<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E -shopping | Cart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<table class="table ">
    <thead class="bg-primary">
    <tr class="w-100">
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Amount</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${cart == null || cart.getItems() == null || cart.getItems().isEmpty()}">
       <td colspan="5"> shopping cart is empty ! <a  class="link" href="/item/index"  role="button">Add more</a></td>
    </tr>
    <tr th:each="item : ${cart.getItems()}" th:if="${item != null}">
                <td th:text="${item.getId()}"></td>
                <td th:text="${item.getName()}"></td>
                <td th:text="${item.getPrice()}"></td>
                <td >
                    <form th:action="@{/cart/update/{id}(id=${item.getId()})}" method="post">
                        <input type="hidden" name="id" th:value="${item.getId()}"/>
                        <input name="qty" type="number" min="1 " th:value="${item.getQty()}" onblur="this.form.submit()"/>
                    </form>
                </td>
                <td th:text="${item.getQty() != null && item.getPrice() != null ? item.getQty()*item.getPrice() : null}"></td>
                <td><a th:href="@{/cart/remove/{id}(id=${item.id})}" class="text-danger text-decoration-none"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-recycle" viewBox="0 0 16 16">
                    <path d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.5.5 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244z"/>
                </svg> Remove</a></td>

            </tr>


    </tbody>
    <tfoot>
    <tr>
        <td> <a  class="btn btn-secondary" href="/cart/clear"
                 role="button">Clear Cart </a>
            <i class="mx-1"></i>
            <a  class="btn btn-primary" href="/item/index"
                role="button">Add more </a></td>
        </tr>


    </tfoot>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>