<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Shopping Online</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<!-- Navbar -->
<nav class="bg-white shadow">
    <div class="container mx-auto px-6 py-3">
        <div class="flex items-center justify-between">
            <div class="text-xl font-semibold text-gray-700">
                <a th:href="@{/index}" class="text-gray-800 hover:text-gray-600">Shopping Online </a>
            </div>
            <div class="flex space-x-4 items-center justify-between">
                <a th:href="@{/index}" class="text-gray-800 hover:text-gray-600" th:text="#{home}">Home</a>
                <a th:href="@{/about}" class="text-gray-800 hover:text-gray-600" th:text="#{about}">About</a>

                <div class="relative" id="categories-dropdown">
                    <button class="flex items-center text-gray-800 hover:text-gray-600 focus:outline-none">
                        <span th:text="#{Categories}">Categories</span>
                        <svg class="ml-1 h-5 w-5 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                        </svg>
                    </button>
                    <div class="absolute left-0 mt-2 w-48 bg-white border rounded-md shadow-lg hidden">
                        <div th:each="category : ${categories}">
                            <a th:href="@{/category/{id}(id=${category.id})}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" th:text="${category.name}">Category</a>
                        </div>
                    </div>
                </div>
                <div class="relative" id="account-dropdown">
                    <button class="flex items-center text-gray-800 hover:text-gray-600 focus:outline-none">
                        <span th:text="#{Account}">Account</span>
                        <svg class="ml-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                        </svg>
                    </button>
                    <div class="absolute right-0 mt-2 w-48 bg-white border rounded-md shadow-lg hidden">
                        <a th:href="@{/login}" th:text="#{login}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" th:unless="${session.user}">Login</a>
                        <a th:href="@{/register}"  th:text="#{register}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" th:unless="${session.user}">Register</a>
                        <hr>
                        <a th:href="@{/mail/demo}"th:text="#{Mailer}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Mailer</a>
                        <hr>
                        <a th:href="@{/account}"th:text="#{Account}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" th:if="${session.user}">Account Management</a>
                        <a th:href="@{/admin}" th:text="#{Admin}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" th:if="${session.user != null and session.user.admin}">Admin Dashboard</a>
                        <a th:href="@{/logout}" th:text="#{logout}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" th:if="${session.user}">Logout</a>
                        <hr>
                        <a href="?lang=en" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" th:text="#{English}">English</a>
                        <a href="?lang=vi" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" th:text="#{Vietnamese}">Tiếng Việt</a>
                    </div>
                </div>
                <form action="/index" th:action="@{/index}" method="get"
                      class="flex justify-between items-center">
                    <input name="keywords" th:value="${keywords}" th:placeholder="#{Search}" class="w-3/4 py-2 px-4 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500">
                    <button type="submit" class="w-1/4 py-2 px-4 ml-3 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600" th:text="#{Search}">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>
<div th:replace="~{/lab7/fragment/notification :: notification}"></div>

<!--content-->
<section layout:fragment="content"></section>
<!--content-->

<!-- Footer -->
<footer class="bg-white shadow mt-8">
    <div class="container mx-auto px-6 py-4">
        <div class="flex items-center justify-between">
            <div class="text-gray-700">© 2024 Shop. All rights reserved.</div>
            <div class="flex space-x-4">
                <a href="#" class="text-gray-700 hover:text-gray-900">Privacy Policy</a>
                <a href="#" class="text-gray-700 hover:text-gray-900">Terms of Service</a>
            </div>
        </div>
    </div>
</footer>

<script>
    document.addEventListener('click', function(event) {
        const accountDropdownButton = document.querySelector('#account-dropdown button');
        const accountDropdownMenu = document.querySelector('#account-dropdown div');
        const categoriesDropdownButton = document.querySelector('#categories-dropdown button');
        const categoriesDropdownMenu = document.querySelector('#categories-dropdown div');

        if (accountDropdownButton.contains(event.target)) {
            accountDropdownMenu.classList.toggle('hidden');
        } else if (!accountDropdownMenu.contains(event.target)) {
            accountDropdownMenu.classList.add('hidden');
        }

        if (categoriesDropdownButton.contains(event.target)) {
            categoriesDropdownMenu.classList.toggle('hidden');
        } else if (!categoriesDropdownMenu.contains(event.target)) {
            categoriesDropdownMenu.classList.add('hidden');
        }
    });
</script>
</body>
</html>
