<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination Example - lab5.4</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h1>PAGINATION</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="item : ${page.content}">
            <td th:text="${item.getId()}">...</td>
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getPrice()}"></td>
            <td th:text="${item.getCreateDate()}"></td>
        </tr>
        <tr  th:if="${page.getContent().isEmpty()}">
            <td colspan="4">No data</td>
        </tr>

        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" th:href="@{/product/page}">First</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/product/page(p=${page.getNumber()-1 < 0 ? 0 : page.getNumber()-1  })}">Previous</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/product/page(p=${page.getNumber()+1 > page.getTotalPages()-1 ? page.getTotalPages()-1 :page.getNumber()+1 })}">Next</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/product/page(p=${page.getTotalPages()-1 })}">Last</a></li>
        </ul>
    </nav>

    <ul class="list-unstyled mt-3">
        <li><strong>Số thực thể hiện tại:</strong> <span th:text="${page.getNumberOfElements()}"></span></li>
        <li><strong>Trang số:</strong><span th:text="${page.getNumber()}"></span></li>
        <li><strong>Kích thước trang:</strong> <span th:text="${page.getSize()}"></span></li>
        <li><strong>Tổng số thực thể:</strong><span th:text="${page.getTotalElements()}"></span></li>
        <li><strong>Tổng số trang:</strong> <span th:text="${page.getTotalPages()}"></span></li>
    </ul>
</div>

<!-- Bootstrap JS Bundle with Popper -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
